<!DOCTYPE html>
<html>
  <head>
    <title>Know More - Phrase KB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header class="navbar container grid-lg">
        <section class="navbar-section">
          <a href="/" class="btn-logo">
            <span class="logo">
              KM
            </span>
          </a>
          <%= active_link_to "Articles", articles_path, class: "btn btn-link", active: :exclusive %>
          <%= active_link_to "Articles+", new_article_path, class: "btn btn-link", active: :exclusive %>
          <%= link_to "Questions", "#", class: "btn btn-link" %>
          <%= link_to "Search", "#", class: "btn btn-link"%>
        </section>
        <section class="navbar-section">
          <span>
            Language:
          </span>
          <%= active_link_to "English", articles_path, class: "btn btn-link", active: :exact %>
          <%= active_link_to "German", articles_path(language: "de"), class: "btn btn-link", active: {language: "de"} %>
        </section>
      </header>
      <main class="container grid-lg">
        <div class="columns">
          <%= render partial: "shared/flash" %>
          <%= yield %>
        </div>
      <main>
    </div>
  </body>
</html>
